.nav-container div input {
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    outline: none;
}

.nav-container button {
    padding: 7px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    background-color: #000;
    border: none;
    text-decoration: none;
    font-size: 15px;
}
.search-history {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.search-history ul {
    margin-top: 0;
    list-style-type: none;
}

.search-history h2 {
    margin: 10px 0 0 40px;
}

.word-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 50px;
    background-color: #f9f9f9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.phonetics {
    margin-bottom: 2vh;
}

.part-of-speech {
    font-weight: bold;
    margin-bottom: 5px;
}

.definition {
    margin-left: 15px;
}

.synonyms-antonyms {
    margin-left: 15px;
    font-style: italic;
}

.word-details-container {
    display: flex;
    flex-direction: column;
}

.links{
    text-decoration: none;
    color: white;
}